@import "../../../../../styles/sass/variables";

.otp_form_item {
    display: flex;
    flex-direction: column;

    .otp_field {
        display: flex;
        flex-direction: column;
        width: 5rem;
        height: 5rem;
        padding: 1rem;
        border: 1px solid #EDEDED;
        border-radius: 1.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .input-otp__field {
        font-weight: 400;
    }
}