@import '../../../../../../styles/sass/mixins';
@import '../../../../../../styles/sass/variables';

.check-in {

    &--dropdown {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-bottom: 1rem;
     }

    &--tableContainer{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        padding: 2rem;
        border: 0.1rem solid $gray_300;
        border-radius: 1.2rem;
        margin-bottom: 1.5rem;
    }
}