.select {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.6rem;
    padding: 0.5rem;
    .select_wrapper {
            width: 36.5rem;
            height: 5rem;
        }
}

.ant-select-selector{
    border-radius: 1.2rem  !important;
}
