@import '../../../styles/sass/mixins';
@import '../../../styles/sass/variables';
@import '../../../styles/sass/utils';

.Dashboard {
	@include flex(center, center, column);
	height: 100vh;
	width: 100vw;
	position: relative;
	background-color: $light;

	&--Title {
		font-size: 4rem;
		font-weight: 500;
		text-align: center;

		&Orange {
			color: $orange;
			font-weight: 600;
			font-size: 7rem;
		}

		&Img {
			height: 1.35rem;
			margin-left: 1rem;
			cursor: pointer;
		}

		&Update {
			font-size: 3.5rem;
			padding-bottom: 0.3rem;
		}
	}

	&--SubTitle {
		@include flex(center, center, row);
		font-size: 2rem;
		font-weight: 500;

		&Span {
			color: $orange;
			font-weight: 400;
			font-size: 1.8rem;
			cursor: pointer;
		}

		&Emoji {
			height: 2rem;
			margin-right: 0.5rem;
		}
	}

	&--Para {
		font-size: 1.7rem;
		color: #575757;
		padding: 1rem 0;
		font-weight: 400;
		line-height: 40px;

		&Span {
			color: $orange;
			cursor: pointer;
		}

		&Rubik {
			font-family: $secondary_font;
		}
	}

	&--Logo {
		position: absolute;
		top: 10px;
		left: 3rem;
		cursor: pointer;
		z-index: 5;

		&Link {
			height: 7vh;
		}
	}

	&--Icon {
		height: 2.5vh;
		cursor: pointer;

		&Big {
			height: 4vh;
			margin-right: 0.6rem;
		}
	}

	&--Tick {
		height: auto;
		width: 1.2rem;
	}

	&--Absolute {
		@include flex(center, space-between, row);
		position: absolute;
		top: 10px;
		right: 30px;
		cursor: pointer;
		z-index: 1;
	}

	&--Navigation {
		@include flex(center, space-between, row);
		width: 100%;
		height: 10%;
		padding: 0 5vw;
		border-bottom: 2px solid #dddddd;

		&Logo {
			height: 3vh;
			cursor: pointer;
			margin-right: 2rem;
		}
	}

	&--Circle {
		@include flex(center, center, row);
		height: 3rem;
		width: 3rem;
		border-radius: 50%;
		margin-right: 1rem;
		font-size: 1.2rem;
	}

	&--ErrorMsg {
		color: $red;
		font-family: $secondary_font;
		font-size: 1rem;
		margin-bottom: 1.5rem;
	}

	&--Home {
		height: 100%;
		width: 100%;
		background-color: $lightbgcolor;

		&Emoji {
			height: 4rem;
		}

		&Top {
			@include flex(center, space-around, row);
			height: 85%;
			width: 100%;

			&Left {
				@include flex(center, space-between, column);
				width: 35%;

				&Title {
					@include flex(center, center, row);
					font-size: 5.3rem;
					font-weight: 600;
					padding-bottom: 2rem;
				}

				&SubTitle {
					text-align: center;
					font-family: $secondary_font;
					color: $dashboardtext;
					font-weight: 500;
					font-size: 2rem;
					line-height: 50px;
				}

				&Stats {
					@include flex(center, space-between, column);
					width: 100%;
					margin-top: 5vh;

					&Div {
						@include flex(center, space-between, column);
					}

					&Row {
						@include flex(center, space-around, row);
						margin-top: 3vh;
						width: 100%;
					}
				}
			}

			&Right {
				@include flex(center, space-between, column);
				width: 35%;
				background-color: $light;
				box-shadow: 0px 3px 6px #00000029;
				border-radius: 1rem;
				padding: 3rem;
				margin-top: 5vh;

				&Content {
					@include flex(start, space-between, column);
					width: 100%;
					margin-bottom: 1rem;

					&Actions {
						@include flex(center, space-between, row);
						width: 100%;
						margin-top: 1rem;
						color: $blue;

						&Link {
							@include flex(center, space-between, row);
							width: 80%;
							background-color: $grey;
							padding: 0.7rem 1rem;
							border-radius: 4px;
							font-size: 1.3rem;
						}
					}
				}
			}
		}

		&Bottom {
			@include flex(center, center, row);
			height: 15%;
			width: 100%;
			position: relative;

			&Default {
				background: transparent linear-gradient(180deg, #4891ef 0%, #4b7aec 100%) 0% 0% no-repeat padding-box;
			}

			&Review {
				background: transparent linear-gradient(180deg, #ef9b48 0%, #ecc14b 100%) 0% 0% no-repeat padding-box;
			}

			&Rejected {
				background: transparent linear-gradient(180deg, #ef5548 0%, #ec4ba2 100%) 0% 0% no-repeat padding-box;
			}

			&Pic {
				height: 25vh;
				transform: translateY(-6vh);
			}

			&Content {
				@include flex(start, space-around, column);
				margin-left: 2rem;
				color: $light;

				&Pic {
					height: 5vh;
					transform: translateX(-10vw);
					cursor: pointer;
				}

				&Title {
					font-weight: 500;
					font-size: 2rem;
				}

				&Para {
					opacity: 0.8;
					width: 60%;
					padding-top: 0.7rem;
					font-weight: 300;
					line-height: 30px;
					font-size: 1.3rem;
				}
			}
		}
	}

	&--Profile {
		@include flex(center, space-between, column);
		height: 100%;
		width: 100%;
		background-color: $light;

		&Data {
			@include flex(center, space-between, row);
			width: 100%;
			height: 90%;
			padding: 15vh 0;

			&Left {
				@include flex(flex-end, start, column);
				height: 100%;
				width: 30%;
				padding-right: 1rem;
				border-right: 2px solid #e4e4e4;

				&Button {
					width: 60%;
					@include flex(center, center, row);
					margin: 0.8rem 0;
					font-size: 2rem;
					font-weight: 400;
					cursor: pointer;
					color: #606060;
					padding: 1rem 0;

					&Active {
						background: #fff1f0;
						border-top-left-radius: 12px;
						border-bottom-left-radius: 12px;
						color: #282828;
						border-right: 6px solid #ff7970;
					}
				}
			}

			&Right {
				@include flex(flex-end, start, column);
				height: 100%;
				width: 70%;
				padding-left: 5vw;

				&Web {
					@include flex(start, start, column);
					height: 100%;
					width: 70%;
				}

				&Mobile {
					@include flex(center, space-around, column);
					height: 100%;
					width: 90%;
				}

				&Edit {
					@include flex(start, space-around, column);
					padding-left: 5%;
				}

				&Refs {
					@include flex(center, center, column);
					height: 100%;
					padding-left: 5%;

					&None {
						@include flex(center, start, column);
					}

					&Container {
						@include flex(center, space-around, column);
						height: 100%;

						&Div {
							height: 85%;
							overflow-y: auto;
						}
					}

					&Row {
						@include flex(center, space-between, row);
						width: 45vw;
						margin-bottom: 0.5rem;
						padding: 0 1rem 0.5rem 1rem;
						border-bottom: 2px solid #dddddd;

						&Name {
							@include flex(center, space-between, row);
						}
					}
				}
			}
		}
	}

	&--Update {
		@include flex(center, space-between, column);
		height: 100%;
		width: 100%;

		&Content {
			@include flex(center, center, column);
			height: 90%;
			width: 100%;

			&Animation {
				@include flex(center, center, column);
			}

			&Form {
				@include flex(center, center, column);
				margin-top: 3rem;
				width: 80%;

				&Container {
					@include flex(center, center, row);
					background-color: $grey;
					margin-bottom: 2rem;
					padding: 0.8rem 2rem;
					border-radius: 1rem;

					&Red {
						border: 2px solid $red;
					}
				}
			}
		}
	}

	&--Verify {
		@include flex(center, space-between, column);
		height: 100%;
		width: 100%;

		&Content {
			@include flex(center, center, column);
			height: 90%;
			width: 100%;
		}
	}

	&--Success {
		@include flex(center, space-between, row);
		height: 100%;
		width: 100%;
		background: transparent linear-gradient(180deg, #f3c7ba 0%, #fad5c9 87%, #fbd7cb 100%) 0% 0% no-repeat
			padding-box;
		color: $purple;
		overflow-y: auto;

		&Animation {
			height: 100%;
			width: 60%;
		}

		&SubTitle {
			letter-spacing: 2px;
			color: $violet;
			font-family: $tertiary_font;
			font-size: 2rem;
			font-weight: 700;
			padding-bottom: 3rem;
		}

		&Title {
			font-size: 3.2rem;
			padding-bottom: 1.5rem;
			font-weight: 600;
		}

		&Para {
			font-size: 2.1rem;
			padding: 2.5rem 0;
			text-align: center;
			line-height: 50px;
		}

		&SmallTitle {
			font-size: 2rem;
			font-family: $secondary_font;
			font-size: 600;
			padding-bottom: 4rem;
		}

		&Share {
			@include flex(center, center, row);
			background-color: $violet;
			color: $light;
			padding: 1.5rem 4rem;
			border-radius: 7px;
			margin-bottom: 3rem;
			font-size: 1.9rem;
			font-weight: 500;
			cursor: pointer;

			&Pic {
				height: 2.5vh;
				margin-right: 1rem;
			}
		}

		&Content {
			@include flex(center, center, row);
			height: 100%;
			width: 40%;

			&Main {
				@include flex(center, space-around, column);
				width: 85%;
				margin-top: 5vh;
			}
		}
	}

	&--Failure {
		@include flex(center, space-between, column);
		height: 100vh;
		width: 100vw;

		&Content {
			@include flex(center, center, column);
			height: 90%;
			width: 100%;

			&Info {
				@include flex(center, space-between, column);
				width: 25%;

				&Pic {
					width: 60%;
					margin-bottom: 5vh;
				}
			}
		}
	}
}

@include media-xxl {
	.Dashboard {
		&--Title {
			font-size: 3.2rem;

			&Orange {
				font-size: 6rem;
			}

			&Update {
				font-size: 2.9rem;
			}
		}

		&--SubTitle {
			font-size: 1.8rem;

			&Span {
				font-size: 1.65rem;
			}
		}

		&--Para {
			font-size: 1.5rem;
		}

		&--Home {
			&Top {
				&Left {
					&Title {
						font-size: 4.2rem;
					}

					&SubTitle {
						font-size: 1.8rem;
						line-height: 45px;
					}
				}

				&Right {
					&Content {
						&Actions {
							&Link {
								font-size: 1.1rem;
							}
						}
					}
				}
			}

			&Bottom {
				&Pic {
					height: 22vh;
					transform: translateY(-5vh);
				}

				&Content {
					&Title {
						font-size: 1.8rem;
					}

					&Para {
						font-size: 1.15rem;
					}
				}
			}
		}

		&--Profile {
			&Data {
				&Left {
					&Button {
						margin: 0.7rem 0;
						font-size: 1.8rem;

						&Active {
							border-right: 5px solid #ff7970;
						}
					}
				}
			}
		}

		&--Success {
			&SubTitle {
				font-size: 1.9rem;
				padding-bottom: 2.8rem;
			}

			&Title {
				font-size: 3rem;
				padding-bottom: 1.2rem;
			}

			&Para {
				font-size: 1.9rem;
				line-height: 45px;
			}

			&SmallTitle {
				font-size: 1.85rem;
			}

			&Share {
				padding: 1.5rem 3.7rem;
				font-size: 1.8rem;
			}
		}
	}
}

@include media-xl {
	.Dashboard {
		&--Title {
			font-size: 3rem;

			&Orange {
				font-size: 5.8rem;
			}

			&Update {
				font-size: 2.7rem;
			}
		}

		&--SubTitle {
			font-size: 1.6rem;

			&Span {
				font-size: 1.4rem;
			}
		}

		&--Para {
			font-size: 1.3rem;
			line-height: 25px;
		}

		&--Absolute {
			top: 5px;
			right: 25px;
		}

		&--Home {
			&Top {
				&Left {
					&Title {
						font-size: 3.3rem;
					}

					&SubTitle {
						font-size: 1.6rem;
						line-height: 40px;
					}
				}

				&Right {
					padding: 2rem 3rem;

					&Content {
						&Actions {
							&Link {
								font-size: 1rem;
							}
						}
					}
				}
			}

			&Bottom {
				&Pic {
					height: 20vh;
				}

				&Content {
					&Title {
						font-weight: 500;
						font-size: 1.7rem;
					}

					&Para {
						line-height: 20px;
						font-size: 1.1rem;
					}
				}
			}
		}

		&--Success {
			&SubTitle {
				font-size: 1.75rem;
				padding-bottom: 2.5rem;
			}

			&Title {
				font-size: 2.75rem;
				padding-bottom: 1.1rem;
			}

			&Para {
				font-size: 1.75rem;
				line-height: 40px;
			}

			&SmallTitle {
				font-size: 1.7rem;
				padding-bottom: 3rem;
			}

			&Share {
				padding: 1.5rem 3.3rem;
				font-size: 1.7rem;
				margin-bottom: 2rem;
			}
		}

		&--Profile {
			&Data {
				&Left {
					&Button {
						font-size: 1.65rem;

						&Active {
							border-right: 4px solid #ff7970;
						}
					}
				}
			}
		}
	}
}

@include media-l {
	.Dashboard {
		&--Title {
			font-size: 2.8rem;

			&Orange {
				font-size: 5rem;
			}

			&Update {
				font-size: 2.5rem;
			}
		}

		&--SubTitle {
			font-size: 1.3rem;

			&Span {
				font-size: 1.1rem;
			}
		}

		&--Para {
			font-size: 1.1rem;
		}

		&--Circle {
			font-size: 1rem;
		}

		&--Home {
			&Top {
				&Left {
					&Title {
						font-size: 3rem;
					}

					&SubTitle {
						font-size: 1.5rem;
						line-height: 30px;
					}
				}

				&Right {
					&Content {
						&Actions {
							&Link {
								font-size: 0.9rem;
							}
						}
					}
				}
			}

			&Bottom {
				&Pic {
					height: 18vh;
					transform: translateY(-3.5vh);
				}

				&Content {
					&Title {
						font-size: 1.5rem;
					}

					&Para {
						font-size: 1rem;
					}
				}
			}
		}

		&--Success {
			&SubTitle {
				font-size: 1.45rem;
				padding-bottom: 2.2rem;
			}

			&Title {
				font-size: 2.4rem;
				padding-bottom: 1rem;
			}

			&Para {
				font-size: 1.4rem;
				line-height: 35px;
			}

			&SmallTitle {
				font-size: 1.4rem;
			}

			&Share {
				font-size: 1.3rem;
			}
		}

		&--Profile {
			&Data {
				&Left {
					&Button {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}

@include media-ml {
	.Dashboard {
		&--Icon {
			height: 1.8vh;
		}

		&--Home {
			&Top {
				&Right {
					width: 45%;
				}
			}

			&Bottom {
				&Pic {
					height: 18vh;
					transform: translateY(-3vh);
				}
			}
		}

		&--Success {
			height: auto;
			flex-direction: column;

			&Animation {
				height: auto;
				width: 100%;
			}

			&Content {
				height: auto;
				width: 100%;

				&Main {
					width: 80%;
				}
			}

			&SubTitle {
				font-size: 2.3rem;
				padding: 2.2rem 0;
			}

			&Title {
				font-size: 3.5rem;
			}

			&Para {
				font-size: 2.2rem;
				line-height: 45px;
			}

			&SmallTitle {
				font-size: 2.2rem;
			}

			&Share {
				font-size: 2.2rem;
				padding: 1.8rem 3.8rem;
			}
		}

		&--Profile {
			&Data {
				&Left {
					&Button {
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}

@include media-md {
	.Dashboard {
		&--Home {
			&Top {
				flex-direction: column;

				&Left {
					width: 65%;
				}

				&Right {
					width: 65%;
				}
			}

			&Bottom {
				&Pic {
					height: 15vh;
					transform: translateY(0);
				}
			}
		}

		&--Success {
			&SubTitle {
				font-size: 2.1rem;
				padding: 3rem 0;
			}

			&Title {
				font-size: 3.3rem;
			}

			&Para {
				font-size: 2rem;
				line-height: 40px;
			}

			&SmallTitle {
				font-size: 2rem;
			}

			&Share {
				font-size: 2rem;
				padding: 1.8rem 3.8rem;
			}
		}
	}
}

@include media-sl {
	.Dashboard {
		&--Icon {
			height: 2vh;

			&Big {
				height: 4vh;
			}
		}

		&--Absolute {
			right: 20px;
		}

		&--SubTitle {
			width: 100%;
			font-size: 1.4rem;
			justify-content: start;
		}

		&--Para {
			font-size: 1.3rem;
			line-height: 20px;
		}

		&--Title {
			font-size: 3.2rem;

			&Orange {
				font-size: 7rem;
			}

			&Img {
				height: 1.5rem;
			}

			&Update {
				font-size: 2.6rem;
			}
		}

		&--Logo {
			top: 10px;
			left: 1rem;

			&Link {
				height: 5vh;
			}
		}

		&--Navigation {
			&Logo {
				height: 1.5rem;
				margin-right: 1rem;
			}
		}

		&--Tick {
			width: 1.75rem;
		}

		&--Home {
			&Top {
				height: auto;
				justify-content: start;

				&Left {
					width: 95%;
					margin: 5vh 0 3vh 0;

					&SubTitle {
						line-height: 25px;
						width: 70%;
					}

					&Stats {
						margin-top: 3vh;

						&Row {
							margin-top: 2vh;
						}
					}
				}

				&Right {
					width: 100%;
					padding: 3rem 3rem 5rem 3rem;
					margin-top: 0;

					&Content {
						&Actions {
							&Link {
								font-size: 1.1rem;
								padding: 0.9rem 1rem;
								width: 85%;
							}
						}
					}
				}
			}

			&Bottom {
				height: auto;

				&Pic {
					transform: translateY(-3vh);
				}

				&Content {
					&Pic {
						transform: translateX(-5vw);
						height: 3.5vh;
					}

					&Title {
						font-weight: 500;
						font-size: 1.6rem;
					}

					&Para {
						line-height: 15px;
						font-size: 1rem;
						width: 70%;
					}
				}
			}
		}

		&--Profile {
			&Data {
				padding: 0;
				justify-content: center;

				&Right {
					width: 100%;

					&Mobile {
						justify-content: start;
					}

					&Edit {
						width: 100%;
						padding-left: 0;
						margin: 5vh 0;
						box-shadow: 0px 3px 6px #00000029;
						border: 1px solid #f7f7f7;
						border-radius: 8px;
						padding: 1rem 2rem;
					}

					&Refs {
						width: 100%;
						padding-left: 0;
						height: auto;
						max-height: 45vh;

						&Row {
							width: 90vw;
						}
					}
				}
			}
		}

		&--Success {
			min-height: 100vh;
			justify-content: start;

			&SubTitle {
				font-size: 1.4rem;
				padding: 0 0 2rem 0;
			}

			&Title {
				font-size: 3rem;
			}

			&Para {
				font-size: 1.7rem;
				line-height: 30px;
			}

			&SmallTitle {
				font-size: 1.7rem;
				padding-bottom: 4rem;
			}

			&Share {
				font-size: 1.5rem;
				padding: 1.2rem 2.5rem;
				margin-bottom: 0;

				&Pic {
					height: 2.1vh;
				}
			}

			&Content {
				&Main {
					margin-top: 0;
				}
			}
		}

		&--Failure {
			&Content {
				&Info {
					width: 80%;
				}
			}
		}

		&--Update {
			&Content {
				align-items: center;
				justify-content: start;
				margin-top: 5vh;

				&Animation {
					width: 80%;
				}
			}
		}

		&--Verify {
			&Content {
				align-items: center;
				justify-content: start;
				margin-top: 5vh;
			}
		}
	}
}

@include media-sm {
	.Dashboard {
		&--Home {
			&Top {
				&Left {
					&SubTitle {
						width: 75%;
					}
				}

				&Right {
					&Content {
						&Actions {
							&Link {
								font-size: 1rem;
							}
						}
					}
				}
			}
		}

		&--Profile {
			&Data {
				&Right {
					&Refs {
						max-height: 35vh;
					}
				}
			}
		}
	}
}
