@import '../../../styles/sass/mixins';
@import '../../../styles/sass/variables';
@import '../../../styles/sass/utils';

.container-div {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0rem 4rem;
	gap: 2.4rem;
	margin-top: 2.4rem;
}

.title-div {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.widgets-container {
	display: flex;
	gap: 2rem;
}

.airport-info {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
