@import '../../../styles/sass/mixins';
@import '../../../styles/sass/variables';
@import '../../../styles/sass/utils';

.container-div {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0rem 2rem;
}
.container-head {
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.title-div {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.widgets-container {
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-wrap: wrap;
	gap: 2rem;
	width: 100%;
}

.airport-info {
	width: 23.5%;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.airport-alerts {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	height: 100%;
}
