@import '../../styles/sass/mixins';
@import '../../styles/sass/variables';

.button {
	text-decoration: none;
	border: none;
	font-size: 1.6rem;
	@include transition(0.2s, ease-in);
	box-shadow: none;
}