// $light: #fff;
// $dark: #171717;
// $orange: #ff7970;
// $blue: #0062db;
// $bgcolor: #fff9f8;
// $lightbgcolor: #fff1f0;
// $grey: #f2f2f2;
// $placeholder: #707070;
// $dashboardtext: #575757;
// $red: #db0000;
// $violet: #60034c;
// $purple: #262e57;
// $navlink: #aaaaaa;
// $moblink: #bdbdbd;

// $main_font: 'Poppins', sans-serif;
// $secondary_font: 'Rubik', sans-serif;
// $tertiary_font: 'Space Grotesk', sans-serif;
// $text_size: 1rem;


$light: #fff;
$dark: #171717;
$orange: #ff7970;
$blue: #0062db;
$bgcolor: #fff9f8;
$lightbgcolor: #fff1f0;
$grey: #f2f2f2;
$placeholder: #707070;
$dashboardtext: #575757;
$red: #db0000;
$violet: #60034c;
$purple: #262e57;
$navlink: #aaaaaa;
$moblink: #bdbdbd;
 
$main_font: 'Poppins', sans-serif;
$secondary_font: 'Rubik', sans-serif;
$tertiary_font: 'Mulish', sans-serif;
$button_font: -apple-system,BlinkMacSystemFont,'Segoe UI';
$text_size: 1rem;
$font_weight: 600;
$button_color:#196CFD;
 
$primary_light: #7A4FF7;
$primary_dark: #632EF4;
$secondary_light: #F8B814;
$secondary_dark: #DC9200;
$dark_0: #C1C2C5;
$dark_1: #A6A7AB;
$dark_2: #909296;
$dark_3: #5C5F66;
$dark_4: #373A40;
$dark_5: #2C2E33;
$dark_6: #25262B;
$dark_7: #1A1B1E;
$dark_8: #141517;
$dark_9: #141517;
$gray_0: #F8F9FA;
$gray_1: #F1F3F5;
$gray_2: #E9ECEF;
$gray_3: #DEE2E6;
$gray_4: #CED4DA;
$gray_5: #ADB5BD;
$gray_6: #868E96;
$gray_7: #495057;
$gray_8: #343A40;
$gray_9: #212529;