$primary_100: #7A4FF7;
$primary_200: #632EF4;
$secondary_100: #F8B814;
$secondary_200: #DC9200;
$dark_100: #C1C2C5;
$dark_200: #A6A7AB;
$dark_300: #909296;
$dark_400: #5C5F66;
$dark_500: #373A40;
$dark_600: #2C2E33;
$dark_700: #25262B;
$dark_800: #1A1B1E;
$dark_900: #141517;
$dark_1000: #141517;
$gray_100: #F8F9FA;
$gray_200: #F1F3F5;
$gray_300: #E9ECEF;
$gray_400: #DEE2E6;
$gray_500: #CED4DA;
$gray_600: #ADB5BD;
$gray_700: #868E96;
$gray_800: #495057;
$gray_900: #343A40;
$gray_1000: #212529;