$light: #fff;
$dark: #171717;
$orange: #ff7970;
$blue: #0062db;
$bgcolor: #fff9f8;
$lightbgcolor: #fff1f0;
$grey: #f2f2f2;
$placeholder: #707070;
$dashboardtext: #575757;
$red: #db0000;
$violet: #60034c;
$purple: #262e57;
$navlink: #aaaaaa;
$moblink: #bdbdbd;

$main_font: 'Poppins', sans-serif;
$secondary_font: 'Rubik', sans-serif;
$tertiary_font: 'Space Grotesk', sans-serif;
$text_size: 1rem;
