@import '../../../styles//sass/mixins';
@import '../../../styles//sass/variables';

.plan_container {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
}

.plan_main {
    width: 136rem;
    height: 46.6rem;
    border-radius: 1.2rem;
    padding: 2.4rem;
    border: 0.1rem dotted #DEE2E6;
    justify-content: center;
    display: flex;
    column-gap: 2.4rem;
    align-items: center;
}

.button {
    &.button.filledTextButton.custom_createButton {
        width: 9.8rem;
        height: 4.4rem;
        padding: 1.2rem 2.4rem;
        border-radius: 1.2rem;
        gap: 0.8rem;

    }

    &.button.filledTextButton.custom_SVGbutton {
        width: 13.9rem;
        height: 4.4rem;
        padding: 1.2rem 2.4rem;
        border-radius: 1.2rem;
        gap: 0.8rem;
        color: $black;
        background-color: $gray_200;
        padding: 1.2rem 2.4rem;
        width: 9.8rem;
        height: 4.4rem;
    }

    &.button.filledTextButton.custom_SVGDownload {
        color: $black;
        background-color: $gray_200;
        width: 23.6rem;
        height: 4.4rem;
        padding: 1.2rem 2.4rem;
        border-radius: 1.2rem;
        gap: 0.8rem;

    }
}