@import '../../../styles/sass/variables';

.otp_form_item {
	margin: 0;

	.otp_field {
		display: flex;
		flex-direction: column;
		width: 5rem;
		height: 3rem;
		padding: 1rem;
		border: 1px solid #ededed;
		border-radius: 1rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.input-otp__field {
		font-weight: 400;
	}
}
