.card {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;

	.icon {
		flex-grow: 1;
		display: flex;
		justify-content: center; 
		align-items: center;
		img {
			height: 30%;
			width: 40%;
		}
	}

	.status {
		font-size: 5vh;
		height: 15%;
		background-color: black;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center; 
	}

	.details {
		height: 20%;
		padding: 2vh;
		background-color: #ffdf00;
		.info{
			padding: 1vh;
			font-weight: 500;
			font-size: 4vh;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}