@import '../../../../../styles/sass/mixins';
@import '../../../../../styles/sass/variables';
@import '../../../../../styles/sass/utils';

.airport_registration_form_container {
	padding: 0rem 0rem 2.4rem 0rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	box-sizing: content-box;
	.airport_registration_form_inputfields {
		@include flex(center, start, row);
		gap: 2.4rem;
		width: 100%;
		.input_form_item {
			&.custom_input {
				width: 33%;
			}
		}
	}
}
