@import '../../../../../styles/sass/mixins';
@import '../../../../../styles/sass/variables';
@import '../../../../../styles/sass/utils';

.airport_registration_form_container {
	padding: 0rem 0rem 2.4rem 0rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	box-sizing: content-box;
	.airport_registration_form_inputfields {
		display: flex;
		flex-wrap: wrap;
		gap: 2.4rem;

		.input_form_item {
			&.custom_input {
				width: calc(19% - 2.4rem);
			}
			&.custom_input_seat {
				width: calc(25% - 2.4rem);
			}
		}
		.select {
			width: calc(19% - 2.4rem);
		}
		.custom_date {
			width: calc(19% - 2.4rem);
		}
	}
}
