@import '../../styles/sass/mixins';
@import '../../styles/sass/variables';
@import '../../styles/sass/utils';



.top_header_container{
    width: 100%;
    @include flex(center, space-between, row);
    .filter_search_container{
        height: 4.4rem;
        @include flex(center, center, row);
        position: relative;
        gap: 0.8rem;
        .filter_icon{
            width: 4.4rem;
            height: 4.4rem;
            @include flex(center, center, row);
            border: 1px solid $gray_300;
            border-radius: 35%;
            position: absolute;
            top: 0rem;
            left: -6rem;
        }

        .search_field{
            position: relative;
            top: 1rem;
        }

    }
}

