@import '../../styles/sass/variables';
 
.custom_tabs_card {
  .ant-tabs-nav {
    .ant-tabs-tab {
      background-color: $white;
      border-top: $white;
      border-left: $white;
      border-right: $white;
 
      &-active {
        background-color: $button_color;
        .ant-tabs-tab-btn {
          color: $white;
        }
      }
    }
  }
}
<<<<<<< HEAD
 
=======

>>>>>>> 8f58acb8984b3a779c4879d9c57cce6c28ffe38e
.custom_tabs_plain{
   .ant-tabs-nav {
    .ant-tabs-tab {
      &-active {
<<<<<<< HEAD
        background-color: $white;
        .ant-tabs-tab-btn {
          color: $button_color;
          border-bottom: black;
=======
        background-color: $white; 
        .ant-tabs-tab-btn {
          color: $button_color;
          border-bottom: black; 
>>>>>>> 8f58acb8984b3a779c4879d9c57cce6c28ffe38e
        }
      }
    }
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 8f58acb8984b3a779c4879d9c57cce6c28ffe38e
