@import '../../styles/sass/variables';

.custom_tabs_card {
	.ant-tabs-nav {
		.ant-tabs-tab {
			background-color: $white;
			border-top: $white;
			border-left: $white;
			border-right: $white;

			&-active {
				background-color: $dark_tab_bg;
				.ant-tabs-tab-btn {
					color: $dark_tab_text;
				}
			}
		}
	}
}

.custom_tabs_plain {
	.ant-tabs-nav {
		.ant-tabs-tab {
			&-active {
				background-color: $white;
				.ant-tabs-tab-btn {
					// color: $button_color;
					color: $light_tab_text;
					border-bottom: $light_tab_text;
				}
			}
		}
	}
}
.ant-tabs-tab.ant-tabs-tab-active {
	color: $light_tab_text;
	border-bottom: $light_tab_text;
}
