:where(.css-dev-only-do-not-override-42nv3w).ant-upload-wrapper.ant-upload-picture-card-wrapper
	.ant-upload.ant-upload-select,
:where(.css-dev-only-do-not-override-42nv3w).ant-upload-wrapper.ant-upload-picture-card-wrapper
	.ant-upload-list.ant-upload-list-picture-card
	.ant-upload-list-item-container {
	height: 7rem;
	width: 9rem;
	margin: 0%;
	background-color: white;
	font-weight: 400;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-upload-wrapper.ant-upload-picture-circle-wrapper
.ant-upload.ant-upload-select {
	height: 7.5rem;
	width: 7.5rem;
	font-size: 10px;
	font-weight: 400;
	background-color: white;
}
.image-upload-container {
	.image-title {
		font-weight: 500;
		font-size: 1.3rem;
		display: flex;
		align-items: center;
	}
	.image-required {
		color: red;
		font-size: 2rem;
	}
}
