@import "../../styles/sass/variables";
@import "../../styles/sass/utils";

.select_field {
  border: 1px solid #EDEDED;
  border-radius: 1.2rem;
  width: 373.33px;
  height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
