@import '../../../src/styles/sass/variables';

.vis-foreground .vis-group {
	border-bottom: none;
}

.vis-current-time {
	background-color: $dark_300;
}

.timeline {
	&--1Airline {
		.vis-item-overflow {
			border-radius: 0.2rem;
			background: $blue_100;
		}
	}
	&--2Airline {
		.vis-item-overflow {
			border-radius: 0.2rem;
			background: $yellow_100;
		}
	}
	&--3Airline {
		.vis-item-overflow {
			border-radius: 0.2rem;
			background: $green_200;
		}
	}
	&--4Airline {
		.vis-item-overflow {
			border-radius: 0.2rem;
			background: $red_100;
		}
	}
	&--LabelContainer {
		display: flex;
		gap: 0.8rem;
	}
	&--Label {
		width: 2rem;
		height: 2rem;
	}
	&--BottomContainer {
		display: flex;
		gap: 3.2rem;
		margin: 2rem;
	}
}
.vis-item,
.vis-item.vis-range {
	background: none;
	border: none;
	outline: none;
	border-radius: 1rem;
}
.vis-item .vis-item-content {
	font-size: 1.4rem;
	padding: 0rem;
	font-weight: 600;
}
.vis-timeline,
.vis-panel.vis-top,
.vis-labelset .vis-label,
.vis-panel.vis-center,
.vis-panel.vis-left,
.vis-panel.vis-right {
	border: none;
}
