@import '../../../src/styles/sass/variables';

.vis-foreground .vis-group {
	border-bottom: none;
}

.vis-current-time {
	background-color: $dark_300;
}

.timeline {
	&--1Airline {
		.vis-item-overflow {
			font-size: 0rem;
			border-radius: 1rem;
			background: $blue_100;
		}
	}
	&--2Airline {
		.vis-item-overflow {
			font-size: 0rem;
			border-radius: 1rem;
			background: $yellow_100;
		}
	}
	&--3Airline {
		.vis-item-overflow {
			font-size: 0rem;
			border-radius: 1rem;
			background: $green_100;
		}
	}
	&--4Airline {
		.vis-item-overflow {
			font-size: 0rem;
			border-radius: 1rem;
			background: #a83c32;
		}
	}
	&--5Airline {
		.vis-item-overflow {
			font-size: 0rem;
			border-radius: 1rem;
			background: #a86132;
		}
	}
	&--6Airline {
		.vis-item-overflow {
			font-size: 0rem;
			border-radius: 1rem;
			background: #a8a832;
		}
	}
	&--7Airline {
		.vis-item-overflow {
			font-size: 0rem;
			border-radius: 1rem;
			background: #6fa832;
		}
	}
	&--8Airline {
		.vis-item-overflow {
			font-size: 0rem;
			border-radius: 1rem;
			background: #32a89a;
		}
	}
	&--LabelContainer {
		display: flex;
		gap: 0.8rem;
	}
	&--Label {
		width: 2rem;
		height: 2rem;
	}
	&--BottomContainer {
		display: flex;
		gap: 3.2rem;
		margin: 2rem;
	}
}
.vis-item,
.vis-item.vis-range {
	background: none;
	border: none;
	outline: none;
	border-radius: 1rem;
}
.vis-timeline,
.vis-panel.vis-top,
.vis-labelset .vis-label,
.vis-panel.vis-center,
.vis-panel.vis-left,
.vis-panel.vis-right {
	border: none;
}
