@import '../../../styles/sass/variables';

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
}

.custom_filledButton {
    color: $white;
    background-color: $button_color;
    font-weight: $font_weight;
    font-family: $button_font;
    width: 8.5rem;
    height: 4.4rem;
    border-radius: 1.2rem;
    padding: 1.2rem 2.4rem 1.2rem 2.4rem;
    line-height: 2.008rem;
}

.custom_textbutton {
    color: $button_color;
    background-color: white;
    font-family: $button_font;
    width: 14.578rem;
    height: 4.2rem;
    padding: 1.2rem;
    font-weight: $font_weight;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom_arrowbutton{
    background-color: $gray_700;
    width: 3.6rem;
    height: 3.6rem;
    padding: 0.8rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom_textarea{
    &.custom_field{
        background-color: #f4f5f7;
        width: 30rem;
    }
}

.custom_chip{
    border: 0;
    &.criticalChip {
        color: white;
        background-color: #FA5252;
        width: 7rem;
        height: 3rem;
    }
    
    &.noticeChip{
        color: #5C5F66;
        background-color: #E9ECEF;
        width: 7rem;
        height: 3rem;
    }
    
    &.cancelledChip {
        color: #FA5252;
        background-color: #FFE5E5;
        width: 9rem;
        height: 3rem;
    }
    
    &.delayChip {
        color: #FFD43B;
        background-color: #FFFAE5;
        width: 6rem;
        height: 3rem;
    }
}