@import '../../../../../styles/sass/mixins';
@import '../../../../../styles/sass/variables';

.form_section{
    padding-top: 2.4rem;
}

.form_content{
    @include flex(stretch, flex-start, row);
    gap: 1.6rem;
}

#btn {
    padding: 2.2rem;
}

.button{
    &.button.custom_svgButton {
        color: $black;
        background-color: $gray_200;
    }
}

.form_bottomButton{
    @include flex(stretch, end, row);
    gap: 1.6rem;
}