@import '../../../styles/sass/mixins';
@import '../../../styles/sass/variables';
@import '../../../styles/sass/animations';

.Landing {
	@include flex(center, center, column);
	height: auto;
	width: 100%;

	&--SubTitle {
		font-size: 2.5rem;
		font-weight: 300;
		padding-bottom: 1.3rem;
	}

	&--Para {
		padding: 5rem 0;
		font-weight: 300;
		font-size: 2.3rem;
		// letter-spacing: 2px;
		line-height: 55px;
		font-family: $secondary_font;
		width: 85%;
	}

	&--Home {
		@include flex(center, space-between, row);
		width: 100%;
		height: 100vh;

		&Animation {
			width: 40%;
			z-index: 2;

			&Video {
				width: 100%;
				margin-left: 5vw;
				transform: translateY(5vh);
			}
		}

		&Content {
			@include flex(start, space-between, column);
			width: 50%;
			padding-top: 8vh;

			&Top {
				@include flex(start, start, column);
			}

			&Bottom {
				@include flex(center, center, row);
				width: 75%;
				position: relative;

				&Arrow {
					position: absolute;
					top: 0;
					left: -200px;
					z-index: 1;
				}
			}

			&Visa {
				@include flex(center, center, row);
				margin-top: 5rem;
				width: 75%;

				&Title {
					color: #a9a9a9;
					font-weight: 300;
					font-size: 1.6rem;
				}

				&Pic {
					height: 3vh;
					padding-left: 1rem;
				}
			}
		}
	}

	&--Animation {
		@include flex(center, space-between, column);
		position: relative;
		width: 100vw;
		color: $light;

		&Video {
			position: sticky;
			position: -webkit-sticky;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100vw;
			height: 100vh;

			&Opacity {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				// background: rgba(0, 0, 0, 0.6);
				z-index: 1;

				// &AnimateShrink {
				// 	@include animate(
				// 		0.3s,
				// 		ease-out,
				// 		0s,
				// 		1,
				// 		normal,
				// 		forwards,
				// 		running,
				// 		videoshrink
				// 	);
				// 	top: 10vh;
				// }

				// &AnimateBorderRound {
				// 	@include animate(
				// 		0.3s,
				// 		ease-out,
				// 		0s,
				// 		1,
				// 		normal,
				// 		forwards,
				// 		running,
				// 		borderround
				// 	);
				// }

				// &AnimateBorderFlat {
				// 	@include animate(
				// 		0.3s,
				// 		ease-out,
				// 		0s,
				// 		1,
				// 		normal,
				// 		forwards,
				// 		running,
				// 		borderflat
				// 	);
				// }

				// &AnimateExpand {
				// 	@include animate(
				// 		0.3s,
				// 		ease-out,
				// 		0s,
				// 		1,
				// 		normal,
				// 		forwards,
				// 		running,
				// 		videoexpand
				// 	);
				// }
			}

			&Content {
				position: relative;
				width: 100%;
				height: 100%;
				overflow: hidden;
				object-fit: cover;

				// &AnimateShrink {
				// 	@include animate(
				// 		0.3s,
				// 		ease-out,
				// 		0s,
				// 		1,
				// 		normal,
				// 		forwards,
				// 		running,
				// 		videoshrink
				// 	);
				// }

				// &AnimateBorderRound {
				// 	@include animate(
				// 		0.3s,
				// 		ease-out,
				// 		0s,
				// 		1,
				// 		normal,
				// 		forwards,
				// 		running,
				// 		borderround
				// 	);
				// }

				// &AnimateBorderFlat {
				// 	@include animate(
				// 		0.3s,
				// 		ease-out,
				// 		0s,
				// 		1,
				// 		normal,
				// 		forwards,
				// 		running,
				// 		borderflat
				// 	);
				// }

				// &AnimateExpand {
				// 	@include animate(
				// 		0.3s,
				// 		ease-out,
				// 		0s,
				// 		1,
				// 		normal,
				// 		forwards,
				// 		running,
				// 		videoexpand
				// 	);
				// }
			}
		}

		&Text {
			position: relative;
			margin-top: 0;
			width: 100%;
			@include flex(center, space-between, column);
			background: #000;
			padding-top: 10rem;

			// &AnimateShrink {
			// 	@include animate(
			// 		0.3s,
			// 		ease-out,
			// 		0s,
			// 		1,
			// 		normal,
			// 		forwards,
			// 		running,
			// 		videoshrink
			// 	);
			// }

			// &AnimateExpand {
			// 	@include animate(
			// 		0.3s,
			// 		ease-out,
			// 		0s,
			// 		1,
			// 		normal,
			// 		forwards,
			// 		running,
			// 		videoexpand
			// 	);
			// }

			&Content {
				@include flex(center, space-between, column);
				margin-bottom: 35vh;
				width: 70%;

				&:nth-child(4) {
					margin-bottom: 20vh;
				}

				&Img {
					height: 12vh;
					margin-bottom: 1.5rem;
				}

				&Button {
					margin-top: 5vh;
				}
			}
		}
	}

	&--Features {
		width: 100%;
		margin: 15vh 0;
		text-align: center;
		position: relative;

		&Sticky {
			position: sticky;
			position: -webkit-sticky;
			top: 14vh;
			width: 100%;
			height: 90vh;
		}

		&Cards {
			@include flex(center, space-around, column);
			width: 100%;
			height: auto;
			margin-top: -70vh;
		}
	}

	&--Security {
		@include flex(center, space-between, row);
		position: relative;
		width: 100%;
		height: auto;
		padding: 15vh 10vw;
		border-radius: 4rem;
		background: radial-gradient(#4d4d4d, #000000);
		color: $light;

		&Content {
			@include flex(center, space-between, column);
			width: 100%;

			&Features {
				@include flex(flex-start, space-between, row);
				margin-top: 4rem;
				width: 85%;

				&Column {
					@include flex(center, center, row);
					flex-wrap: wrap;
					margin-bottom: 1rem;
				}
			}
		}

		&Mobile {
			@include flex(center, space-around, column);
			width: 100%;
		}

		&Img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0.2;
			width: 250px;
			height: 250px;
		}
	}

	&--Brands {
		@include flex(center, space-around, column);
		height: auto;
		width: 100%;
		padding: 10vh 0;

		&Title {
			font-size: 3rem;
			font-weight: 500;
			padding-bottom: 15vh;

			&Span {
				color: $orange;
			}
		}

		&SubTitle {
			font-size: 2.3rem;
			font-weight: 400;
			padding-top: 2rem;
		}

		&Container {
			@include flex(center, space-between, row);
			width: 55%;
			flex-wrap: wrap;

			&Img {
				height: 12vh;
				max-width: 10vw;
				margin-bottom: 2rem;
				margin-right: 3rem;
			}
		}
	}

	&--Carousel {
		@include flex(center, space-between, column);
		height: 100vh;
		width: 100vw;
		border-radius: 4rem;
		color: $light;
		position: relative;
		overflow-x: hidden;
		background: none;

		&AnimationVideo {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		// &Imgs {
		// 	height: auto;
		// 	width: 80vw;
		// 	overflow: hidden;
		// 	transform-style: preserve-3d;
		// 	position: relative;

		// 	&Div {
		// 		margin: 0 2rem;
		// 		width: 25vw;
		// 		height: auto;
		// 	}

		// 	&Active {
		// 		transform: scale(1.5);
		// 	}

		// 	&Card {
		// 		height: 20vh;
		// 		width: 20vw;
		// 		margin: 0 3rem;
		// 		position: absolute;
		// 		@include transition(0.1s, ease-in);

		// 		&:nth-child(1) {
		// 		    transform: rotateY(-30deg) scale(0.5);
		// 		    left: -15vw;
		// 		}

		// 		&:nth-child(2) {
		// 		    transform: rotateY(-20deg) scale(0.75);
		// 		    left: 0;
		// 		}

		// 		&:nth-child(3) {
		// 		    transform: rotateY(0deg);
		// 		    left: 25vw;
		// 		}

		// 		&:nth-child(4) {
		// 		    transform: rotateY(20deg) scale(0.75);
		// 		    left: 50vw;
		// 		}

		// 		&:nth-child(5) {
		// 		    transform: rotateY(30deg) scale(0.5);
		// 		    left: 65vw;
		// 		}
		// 	}
		// }
	}
}

@include media-xxl {
	.Landing {
		&--SubTitle {
			font-size: 2.5rem;
		}

		&--Para {
			font-size: 2rem;
			padding: 3.8rem 0;
		}

		&--Home {
			&Content {
				&Bottom {
					width: 85%;
				}

				&Visa {
					width: 85%;
					margin-top: 2.5rem;
				}
			}
		}

		&--Brands {
			&Title {
				font-size: 2.4rem;
			}

			&SubTitle {
				font-size: 2.1rem;
			}
		}
	}
}

@include media-xl {
	.Landing {
		&--SubTitle {
			font-size: 2rem;
		}

		&--Para {
			font-size: 1.7rem;
			padding: 3.5rem 0;
			line-height: 40px;
		}

		&--Home {
			&Content {
				&Visa {
					&Title {
						font-size: 1.4rem;
					}
				}
			}
		}

		&--Brands {
			&Title {
				font-size: 2.3rem;
			}

			&SubTitle {
				font-size: 1.9rem;
			}
		}
	}
}

@include media-l {
	.Landing {
		&--SubTitle {
			font-size: 1.6rem;
		}

		&--Para {
			font-size: 1.4rem;
			padding: 3.3rem 0;
			line-height: 35px;
		}

		&--Home {
			&Content {
				width: 42%;

				&Bottom {
					width: 75%;
				}

				&Visa {
					width: 75%;

					&Title {
						font-size: 1.2rem;
					}
				}
			}
		}

		&--Animation {
			&Text {
				&Content {
					&Img {
						height: 11vh;
					}
				}
			}
		}

		&--Brands {
			&Container {
				width: 55%;
			}

			&Title {
				font-size: 2.1rem;
			}

			&SubTitle {
				font-size: 1.65rem;
				padding-top: 1rem;
			}
		}

		&--Security {
			&Content {
				width: 100%;

				&Features {
					width: 100%;
				}
			}
		}
	}
}

@include media-ml {
	.Landing {
		&--SubTitle {
			font-size: 2.8rem;
		}

		&--Para {
			font-size: 1.8rem;
			padding: 3rem 0;
		}

		&--Home {
			height: auto;
			@include flex(center, start, column);

			&Content {
				width: 65%;
				padding-bottom: 5vh;
				align-items: center;

				&Top {
					align-items: center;
				}

				&Bottom {
					width: 90%;
				}
			}

			&Animation {
				@include flex(center, center, column);
				width: 100%;

				&Video {
					margin: 10vh 0;
					width: 55%;
				}
			}
		}

		&--Security {
			padding: 15vh 3vw;
		}

		&--Brands {
			&Container {
				width: 60%;

				&Img {
					height: auto;
					max-width: 14vw;
				}
			}
		}
	}
}

@include media-md {
	.Landing {
		&--SubTitle {
			font-size: 2.5rem;
		}

		&--Home {
			&Animation {
				&Video {
					width: 70%;
				}
			}
		}

		&--Animation {
			&Content {
				&Title {
					line-height: 35px;
				}
			}
		}

		&--Security {
			justify-content: center;

			&Content {
				@include flex(flex-start, space-between, column);
				width: 80%;

				&Features {
					@include flex(flex-start, space-between, column);
					margin-top: 5rem;
				}
			}

			&Img {
				height: 30vh;
				margin: 3rem 0;
			}
		}

		&--Brands {
			&Container {
				width: 70%;
			}
		}
	}
}

@include media-sl {
	.Landing {
		&--SubTitle {
			font-size: 2rem;
		}

		&--Para {
			font-size: 1.45rem;
			width: 90%;
			line-height: 30px;
			padding: 1rem 0 3rem 0;
			text-align: center;
		}

		&--Home {
			height: auto;
			min-height: 100vh;
			justify-content: space-around;

			&Animation {
				margin: 11vh 0 5vh 0;

				&Video {
					width: 95%;
					margin: 0;
				}
			}

			&Content {
				width: 90%;
				align-items: center;
				padding-top: 0;

				&Bottom {
					justify-content: center;
				}

				&Visa {
					&Title {
						font-size: 1.6rem;
					}
				}
			}
		}

		&--Animation {
			&Text {
				&Content {
					width: 90%;

					&Img {
						height: 10vh;
					}
				}
			}
		}

		&--Features {
			margin: 15vh 0 5vh 0;

			&Sticky {
				top: 12vh;
			}
		}

		&--Security {
			padding: 10vh 3vw;

			&Img {
				height: 30vh;
			}

			&Content {
				&Features {
					align-items: center;
					margin-top: 1rem;
				}
			}
		}

		&--Brands {
			padding: 7vh 0 0 0;

			&Title {
				font-size: 2rem;
				width: 60%;
				text-align: center;
				line-height: 30px;
				padding-bottom: 5vh;
			}

			&SubTitle {
				font-size: 1.7rem;
				padding: 0 0 5vh 0;
			}

			&Container {
				flex-wrap: wrap;
				margin-bottom: 0;

				&Img {
					max-width: 30vw;
					margin-bottom: 6rem;
					margin-right: 0;
				}
			}
		}
	}
}

@include media-sm {
	.Landing {
		&--SubTitle {
			font-size: 1.9rem;
		}

		&--Para {
			font-size: 1.3rem;
			line-height: 25px;
		}
	}
}

@include media-xss {
	.Landing {
		&--Home {
			min-height: 120vh;
		}
	}
}
