@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.custom_chip {
  cursor: pointer;
  font-family: $button_font;
  @include flex(center, center, row);
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  border-radius: 1.6rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}