@import'../../styles/sass/mixins';
@import '../../styles/sass/variables';

.create {
    font-family: $button_font;
    cursor: pointer;
    color: $white !important;
    background-color: $button_color;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    @include flex(center,center,row);
    font-weight: 600;
    border-radius: 1.2rem;
    height: auto;
    width: auto;
}