@import '../../../styles/sass/variables';
@import '../../../styles/sass/utils';
@import '../../../styles/sass/mixins';


.airport_masters_container{
    padding: 4rem;
    height: 63.2rem;
    box-sizing: content-box;
    @include flex(stretch, flex-start, column);
    gap: 2.4rem;
}
