@import '../../styles/sass/utils';
@import '../../styles/sass/variables';

.table-container {
	font-family: $tertiary_font !important;
	display: flex;
	flex-direction: column;
	padding: 24px;
	border: 1px solid $gray_300;
	border-radius: 12px;
	gap: 24px;
}

.table-title {
	font-family: $tertiary_font;
	font-size: 24px;
	line-height: 33.6px;
	// text-align: center;
	font-weight: 600;
	color: $black;
}

.ant-table {
	th {
		background-color: $gray_100 !important;
		text-align: center !important;
		color: black !important;
	}
}
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th,
.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td {
	border-inline-end: 0.5px solid $gray_300 !important;
}
.ant-table-thead > tr > th {
	border-bottom: none !important;
}
.ant-table-tbody > tr > td {
	border-bottom: 1.5px solid $gray_400 !important;
}
.color_table {
	.ant-table-thead > tr > th {
		background-color: $table_header_bg !important;
		color: $table_header_text !important;
		padding: 4px 16px !important;
		font-size: $table_header_fontSize;
	}
	.ant-table-tbody > tr > td {
		background-color: #f8f9fa !important;
		color: $dark_900;
		font-size: $table_body_fontSize;
	}
}

.editable-cell-value-wrap {
	border: 1px solid gray;
	border-radius: 0.5rem;
	padding: 0.2rem;
}

.ant-table-tbody > tr > td {
	padding: 4px 12px !important;
}

.ant-spin .ant-spin-dot-item {
	background-color: #a3257c;
}
