@import '../../../../../styles/sass/mixins';
@import '../../../../../styles/sass/variables';
@import '../../../../../styles/sass/utils';

.airport_setup_form_container {
	padding: 0rem 0rem 2.4rem 0rem;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.airport_setup_form_inputfields {
		display: flex;
		flex-wrap: wrap;
		gap: 2.4rem;
		.input_form_item {
			&.custom_input {
				width: calc(33% - 2.4rem);
			}
		}
		.select {
			width: calc(33% - 2.4rem);
		}
		.custom_date {
			width: calc(33% - 2.4rem);
		}
	}
}
