$animation-duration: 0.5s;

@keyframes rotateX {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: scaleY(-1);
		transform: rotateX(180deg);
	}
}
@keyframes scaleText {
	100% {
		transform: scaleY(-1);
	}
}

.fids-container {
	overflow: hidden;
	// display: flex;
	// flex-direction: column;
	padding: 0%;
	margin: 0%;
	width: 100vw;
	height: 100vh;
	gap: 0;
	.table-container {
		height: 90%;
		// flex: 1 1 0%;
		background-color: black;
		overflow: hidden;
		padding: 0%;
		margin: 0%;
		border-radius: 0;
		border: none;
		table {
			border-collapse: collapse;
			border: none;
			overflow: hidden;
			background-color: white;
			.rotate {
				animation: rotateX 1.5s ease-in-out;
				animation: scaleText 1s ease-in-out;
			}
			.align-left {
				text-align: left;
				width: auto;
			}
			thead {
				background-color: yellow;
				th {
					border: none;
				}
			}
			tbody {
				tr {
					background-color: black;
					color: white;
					border-bottom: 0.1rem solid white;
					td {
						border: none;
						text-align: center;
					}
				}
				.noBorder {
					border-bottom: none;
				}
			}
		}
	}
	.fids-table-footer {
		height: 10%;
		display: flex;
		text-align: center;
		justify-content: space-between;
		// font-size: 6rem;
		background-color: black;
		.footer-logo {
			background-color: yellow;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: auto;
			padding: 0 6rem;
		}
		.time-footer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 2px;
		}
	}
}

// .flip-enter,
// .flip-leave-to {
// 	opacity: 0;
// }

// .flip-enter-active,
// .flip-leave-active {
// 	transition: opacity $animation-duration ease-in-out;
// }

// .flip-enter-active {
// 	opacity: 1;
// }

// .flip-leave-active {
// 	opacity: 0;
// }
