@import '../../../../../../../styles/sass/variables';
@import '../../../../../../../styles/sass/mixins';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	@include flex(center, center, row);
	gap: 1rem;
	height: 50vh;
}

.daily_schedule_container{
	&--tableContainer{
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
		padding: 0.8rem 2.4rem 1.6rem;
		border: 0.1rem solid $gray_300;
		border-radius: 1.2rem;
		margin-bottom: 1.5rem;
	}
}
// .modal_content {
// 	position: relative;
// 	@include flex(center, center, column);
// 	min-height: 40vh;
// }

.custom_modal_cdm {
	max-height: 50rem;
	overflow: auto;
	border-radius: 1rem;
}

.table-container {
	margin-top: 2rem;
}
.view_map_button {
	margin: auto;
}
.view_img_modal {
	max-height: 50rem;
	overflow: hidden;
	border-radius: 1rem;
}

.map_img {
	max-width: 100%; /* Ensure the image doesn't exceed its container */
	max-height: auto; /* Maintain aspect ratio */
	display: block; /* Ensure proper rendering as a block element */
	margin: auto; /* Center the image horizontally */
}
