@import '../../../styles//sass//variables';

.form_section{
    padding-top: 2.4rem;
}

.form_content{
    display: flex;
    align-content: center;
    gap: 1.6rem;
}

.form_bottomButton{
    display: flex;
    justify-content: end;
    gap: 1.6rem;
}

#btn {
    padding: 2.2rem;
}

.button{
    &.button.custom_svgButton {
        color: $black;
        background-color: $gray_200;
    }
}