@import '../../../../../styles/sass/variables';
@import '../../../../../styles/sass/mixins';

.create_wrapper_table {
	width: 100%;
	height: auto;
	border-radius: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;

	.table_container {
		border-radius: 1.2rem;
		border: 1px solid $gray_300;
		padding: 2.4rem;
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
	}
}

.action_buttons {
	@include flex(center, center, row);
	gap: 1.6rem;
}

.custom_modal {
	max-height: 85%;
	overflow: auto;
	border-radius: 1rem;
}

.custom_button_airport {
	@include flex(center, end, row);
	gap: 2rem;
	// margin-top: 2.4rem;
	// margin-bottom: 1.4rem;
	.custom_button_cancel {
		background-color: $gray_100;
		color: $black;
		padding: 0.5rem 1rem;
		height: auto;
	}
	.custom_button_save {
		padding: 0.5rem 1rem;
		height: auto;
	}
}
