@import '../../../../../styles/sass/mixins';
@import '../../../../../styles/sass/variables';
@import '../../../../../styles/sass/utils';



.airport_type_form_container{
    padding: 0rem 0rem 2.4rem 0rem;
    box-sizing: content-box;
    .airport_type_form_inputfields{
        @include flex(center, start, row);
        gap: 2.4rem;
        width: 100%;
        .input_form_item{
            &.custom_input{
                width: 33%;
            }
        }
        
    }

   
}