*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container-style{
    display: flex;
    padding: 3.5rem;
    flex-direction: column;
    gap:2rem;
    width:135rem;
}
.header-box{
    padding:0px 0px;
}
