@import "../../../../../styles/sass/variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.airport_master_details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.custom_dropdown {
    padding: 0.5rem 1rem;
    width: auto;
    height: auto;
}

.custom_dropdown_style {
    display: flex;
    justify-content: flex-end;
}

.custom_table {
    padding: 2rem;
    border: 0.1rem solid $gray_300;
    border-radius: 1.2rem;
    margin-bottom: 1.5rem;
}

.details_table {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;  
}

.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    #delete_button {
        width: 4rem;
        height: 4rem;
        border-radius: 1.2rem;
        background-color: $gray_200;
    }

    #edit_button {
        width: 4rem;
        height: 4rem;
        border-radius: 1.2rem;
        background-color: $gray_200;
    }
}