@import '../../../../../../../styles/sass/mixins';
@import '../../../../../../../styles/sass/variables';

.gates {
    width: 100%;
    .main_form {
        .form_section {
            padding-top: 0rem;
            .form_content {
                @include flex(stretch, flex-start, row);
                gap: 1.6rem;
                margin-bottom: 1rem;
    
                .date {
                    margin: 0rem;
                }
            }
        }
    
        .form_bottomButton {
            @include flex(stretch, end, row);
            gap: 1.6rem;
            bottom: 0;
            width: 100%;
            
            .button {
                .custom_svgButton {
                    color: $black;
                    background-color: $gray_200;
                }
            }
        }
    }
}
